Basics of Data Frame

In [48]:
#Exp no. : 3

#Aim : Basics of Data Frame

In [46]:
#Name : Ayush N. Nagdive
#Roll no. : 42
#Section : B
#Subject : PE-I

In [2]:
import pandas as pd

In [3]:
#Creating Student Name List
Name=["Mayur","Shreeya","Nikhil","Ayush","Krish"]

In [4]:
Name

['Mayur', 'Shreeya', 'Nikhil', 'Ayush', 'Krish']

In [5]:
#Creating a Series
Roll_list=pd.Series(Name,index=[1,2,3,4,5])
print(Roll_list)

1      Mayur
2    Shreeya
3     Nikhil
4      Ayush
5      Krish
dtype: object

Creating Data Frame

In [6]:
#Creating Data Frame
df=pd.DataFrame([[10,12,14,16],[11,18,15,21],[12,13,14,15]],
columns= ["CD","DBMS","DSS","CAO"])

In [7]:
df

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15

In [8]:
df.shape

(3, 4)

In [9]:
df.size

12

In [10]:
df.ndim

2

Adding Record (Row) to the data frame

In [11]:
df2=pd.DataFrame([[5,6,7,8]],
columns= ["CD","DBMS","DSS","CAO"])

In [12]:
df2

   CD  DBMS  DSS  CAO
0   5     6    7    8

In [27]:
df3 = pd.concat([df, df2], ignore_index=True)  #you can also use df3=df.append(df2,ignore_index=True)

In [17]:
df3

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

In [21]:
df.shape

(3, 4)

In [22]:
df.ndim

2

In [23]:
df.size

12

Adding Attribute (Columns) name DM

In [24]:
df3["DM"]=[12,15,16,14]

In [25]:
df3

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
1  11    18   15   21  15
2  12    13   14   15  16
3   5     6    7    8  14

Deleting Record from df3 dataframe

In [26]:
df4=df3.drop(index=[1])

In [28]:
df4

   CD  DBMS  DSS  CAO  DM
0  10    12   14   16  12
2  12    13   14   15  16
3   5     6    7    8  14

In [41]:
df5 = df3.drop(columns=[col for col in df3.columns if col.strip() == "DM"])

#use this : df5=df3.drop(columns=["DM"])

In [42]:
df5

   CD  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

In [43]:
#Finding mean of DSS
print("Mean of DSS:",df5["DSS"].mean())

Mean of DSS: 12.5

In [44]:
#Finding median of DSS
print("Median of DSS:",df5["DSS"].median())

Median of DSS: 14.0

In [45]:
#Finding mode of DSS
print("Mode of DSS:",df5["DSS"].mode())

Mode of DSS: 0    14
Name: DSS, dtype: int64